@model dash.Models.UsersViewModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<div>
    <button class="btn btn-primary" id="addUserBtn">Add New User</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName @user.LastName</td>
                <td>
                    <button class="btn btn-warning editUserBtn" data-id="@user.Id">Edit</button>
                    <button class="btn btn-danger removeUserBtn" data-id="@user.Id">Remove</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade modal-lg" id="addEditUserModal" tabindex="-1" aria-labelledby="addEditUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEditUserModalLabel">Add/Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContent">
                <!-- The form will be loaded here via AJAX -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/users.js"></script>
}